.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-img {
    max-width: 600px;
    max-height: 600px;
    border-radius: 10px;
}

.slider-text {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-likes {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
}

.icon {
    width: 32px;
    height: 32px;
    border-radius: 10px;

}
.icon:hover {
    cursor: pointer;
}

.like {
    background-color: rgb(96, 223, 117);

}

.dislike {
    background-color: rgb(224, 92, 92)
}